/*
    @theme Solarized-dark
    @override-placeholders html, css, js, php, python
*/

@base {
    color: #839496;
    background-color: #002b36;
	insertion-point-color: #93a1a1;
    selection-background-color: #EAE3CB;
    current-line-background-color: #073642;
}

* {
    spell-check: disabled;
}

	operator {
		color: #b58900;
	}

	if,
	keyword {
		color: #cb4b16;
	}
	
	function-call, name {
		color: #626262;
	}
	
/* Standard
----------------------------------------------------*/
literal.string {
	color: #2aa198;
	spell-check: enabled;
}

* > string.modifier {
	color: #66D9EF;
	font-style: italic;
}

literal.regex {
    color: #d33682;
}

literal.numeric {
    color: #2aa198;
	background-color: none;
}

literal.keyword.constant {
	color: #F92672;
}

literal.keyword.bool {
    color: #859900;
}

literal.keyword.nothing {
    color: #859900;
}

literal.escape {
    color: #dc322f;
}

identifier.function > name {
    color: #268bd2;
}

identifier.type {
    color: #93a1a1;
    font-weight: bold;
}

identifier.variable.parameter {
	color: #839496;
}

identifier.variable.named-parameter {
	color: #859900;
}

identifier.variable.named-parameter > name {
	font-style: italic;
}

identifier.variable.instance {
    color: #839496;
}

keyword.control {
    color: #859900;
}

keyword.definition {
    color: #859900;
    font-style: italic;
}

keyword.modifier {
    color: #859900;
}

keyword.constant.other {
	color: #d33682;
}

metadata {
    color: #586e75;
}

metadata.comment.documentation {
	color: #586e75;
	spell-check: enabled;
}

operator {
    color: #839496;
}

/* For non-standards */

/* @group CSS */

selector.css {
	color: #859900;
}

delimeter.css {
    color: #268bd2;
}

property-name {
	color: #b58900;
}

zkeyword.other.zunit.css {
	color: #2aa198;
}

zconstant.zother.color.rgb-value.css {
	color: #2aa198;
}

zconstant.nzumeric.css {
	color: #2aa198;
}
/* @end */

/* @group Python */

python container name, python function name {
	color: #268bd2;
}

python container parameters name {
	color: #839496;
}

python variable type {
	color: #839496;
}

python keyword.control.import {
    color: #cb4b16;
}

}
/* @end */

/* @group HTML */

tag > name {
	color: #268bd2;
	font-weight: bold;
}

tag > attribute-name {
	color: #839496;
}

tag > attribute-value.string.quoted, tag > attribute-value.string.quoted punctuation.definition {
	color: #2aa198;
}

punctuation.definition {
    color: #839496;
}

tag.preprocessor.xml.html, tag.preprocessor.xml.html entity.name {
    color: #839496;
    font-style: italic;
}

tag.preprocessor.xml.html punctuation.definition {
    color: #839496;
    font-style: normal;
}


comment.block.html, comment.block.html punctuation.definition {
    color: #839496;
}

comment.block.html invalid.illegal.bad-comments-or-CDATA.html {
    color: #dc322f;
}

tag.doctype, tag.doctype entity.name {
    color: #839496;
    font-weight: normal;
    font-style: italic;
}

tag.doctype punctuation.definition {
    color: #839496;
    font-style: normal;
}

tag.self-closing.cdata {
    color: #839496;
}

embedded-style.html entity.name, embedded-javascript.html entity.name {
    font-style: italic;
    font-weight: normal;
}

constant.character.entity.html {
    color: #859900;
}

invalid.illegal.bad-ampersand.html {
    color: #dc322f;
}
/* @end */

/* @group JavaScript */

support {
    color: #b58900;
}

constant.language.js, constant.language.null.js, constant.language.boolean.true.js, constant.language.boolean.false.js {
    color: #b58900;
}

keyword.control.js, keyword.operator.js {
    color: #859900;
}

meta.brace.curly, meta.brace.square.js {
    color: #268bd2;
}

string.regexp.js, string.regexp.js punctuation.definition{
    color: #2aa198;
}

string.regexp.js constant.character.escape.js {
    color: #6c71c4;
}

variable.language.js {
    color: #268bd2;
}

storage.type.js {
    color: #268bd2;
}

/* @end */

/* @group PHP */
php delimiter.balanced.quote{
	color: #93a1a1;
}

php delimiter.balanced.curly-brace,
php delimiter.balanced.parenthesis,
php delimiter.balanced.square-brace {
	color: #cb4b16;
}

php operator.mathematical,
php operator.comparator,
php operator.logical,
php delimiter.separator.pairing,
php keyword.constant.class {
	color: #859900;
}

php delimiter.separator.comma,
php literal.keyword.constant.echo {
	color: #cb4b16;
}

php delimiter.terminator {
	color: #93a1a1;
}

php identifier.constant,
php literal.keyword.constant.other,
php operator.accessor + keyword.constant.other {
	color: #cb4b16;
}

php literal.string.quoted,
php literal.string.quoted identifier.variable,
php literal.string.quoted identifier.variable > operator.dollar-sign.variable.begin {
    color: #2aa198;
}

php literal.keyword.nothing,
php literal.keyword.bool {
    color: #b58900;
    font-weight: normal;
}

php integer, php literal.numeric {
    color: #2aa198;
	background-color: #002b36;
}

php identifier.variable,
php identifier.variable.parameter  {
    color: #268bd2;
}

php identifier.variable > operator.dollar-sign.variable.begin,
php identifier.variable.parameter > variable.delimiter.begin {
	color: #859900;
}

php metadata.comment.phpDoc.block {
    color: #657b83;
}
php metadata.comment.phpDoc.keyword {
    color: #93a1a1;
}

php keyword.modifier.scope {
    color: #859900;
}
php keyword.definition.php,
php delimiter.embedded.source.php.begin,
php delimiter.embedded.source.php.end {
    color: #dc322f;
}
php identifier.class.name,
php container.class name {
	color: #93a1a1;
}
php keyword.definition.class.begin {
    color: #b58900;
}

php class.extended > name {
    color: #93a1a1;
    font-style: italic;
}

php keyword.function.definition {
    color: #cb4b16;
}

php function > name {
	color: #268bd2;
}

php container.function.magic.parenthesis-delimited > name,
php keyword.definition.array,
php identifier.function,
php identifier.function.support > name,
php identifier.function.support_pcre > name,
php identifier.function.support_pcre literal.string.quoted,
php identifier.function.support_pcre > delimiter.balanced.parenthesis + literal.string.quoted delimiter.balanced.quote {
    color: #b58900;
    font-weight: normal;
}

php > keyword.constant.class,
php keyword.constant.std,
php delimiter.balanced.parenthesis.begin + keyword.constant.other,
php identifier.function.support > delimiter.balanced.parenthesis {
    color: #cb4b16;
}

php keyword.constant.class.other > class.name,
php keyword.constant.class.other > operator.scope.resolution,
php identifier.variable.class.static.property property.name {
    color: #268bd2;
    font-weight: normal;
}

php identifier.function.class.method.static class.name {
	color: #859900;
}
php identifier.function.class.method.static method.name {
	color: #93a1a1;
}

php container keyword.constant.other,
php > keyword.constant.other,
php keyword.constant.class.other > keyword.constant.other {
    color: #cb4b16;
}

php container.function.parenthesis-delimited > name,
php > identifier.function.object.method > name {
    color: #93a1a1;
    font-weight: normal;
}

/* @end */